<%- include('partials/head')%>

<div class="page-single">
    <div class="container">
        <div class="row">
            <div class="col col-login mx-auto">
                <div class="text-center mb-6">
                    <img src="/images/brand/logo.png" class="h-6" alt=""  style="width: 53%; top: 0px; height: auto !important; margin-bottom: -48px;">
                </div>
                <form class="card" action="/users/register" method="post">
                    <div class="card-body p-6">
                        <div class="card-title">Create new account</div>
                        <% if(errors == false){ %>
                            <% if(errors.email != undefined){ %>
                                <div class="alert alert-sucess">Successfully done.</div>
                            <% } %>
                        <% } %>
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Email address</label>
                            <input type="email" name="email" class="form-control" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Password</label>
                            <input type="password" name="passowrd" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Phone</label>
                            <input type="text" name="phone" class="form-control" placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Boarder Type</label>
                            <select name="type" class="form-control custom-select">
                                <option value="boarder">Boarder</option>
                                <option value="manager">Manager</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" />
                            <span class="custom-control-label">Agree the <a href="terms.html">terms and policy</a></span>
                            </label>
                        </div>
                        <div class="form-footer">
                            <button type="submit" class="btn btn-primary btn-block">Create new account</button>
                        </div>
                    </div>
                </form>
                <div class="text-center text-muted"> Already have account? <a href="/login">Sign in</a></div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/foot')%>